@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* hide scrollbar but allow scrolling */
.scrollHide {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
  .scrollHide::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }



body{
    padding: auto;
    margin: 0;
}
.m-4{
    padding: 20px;
}
.topheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location{
    width: 50%;
}
.location h4{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.location h4 span{
    color: gray;
    font-size: 35px;
}
.location p{
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 11px;
}
.search{
    margin-top: 1.5rem;
    position: relative;
}
.searchbar{
    width: 100%;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

#searchIcon{
    position: absolute;
    right: 10px;
    top: 12px;
}
.profile span{
    font-size: 35px;
}
.offerzone{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 15px;
}
.offername{
    display: flex;
    align-items: center;
    gap: 10px;
}

.offername span{
    font-size: 20px;
    color: rgb(221, 221, 221);
}
.offerLogo{
    width: 40px;
    height: 40px;
    background-color: orangered;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.offercard{
    position: relative;
    margin-top: 1.5rem;
    height: 250px;
    background: rgb(163,182,123);
    background: linear-gradient(120deg, rgba(163,182,123,1) 0%, rgba(238,251,210,1) 100%);
    color: white;
    border-radius: 25px;
    padding:30px 25px;
}
.offercardText h3{
    font-size: 35px;
    margin: 10px 0;
}
.viewMore{
    position: absolute;
    bottom: 1.5rem;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: white;
    color: rgb(153, 172, 119);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.viewMore span{
    font-weight: 800;
    font-size: 18px;
}

.orderList{
    margin-top: 2.5rem;
}

.orderQuote{
    font-weight: 550;
}
.itemList ul{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.itemList ul li{
    list-style: none;
    text-align: center;
    cursor: pointer;
}
.itemList ul li img.rounded{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.itemList ul li img.square{
    width: 120px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}
.itemList ul li span.listspan{
    width: 60px;
    height: 60px;
    background-color: rgb(211, 211, 211);
    display: block;
    margin: 10px;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.itemList.getitem ul li span.listspan{
    width: 120px;
    height: 130px;
    background-color: rgb(211, 211, 211);
    display: block;
    margin: 10px;
    border-radius: 10px;
}
.itemList p.itemname{
    color: gray;
    font-size: 15px;
}
.itemList.getitem p{
    text-align: left;
    margin:0 10px;
    font-weight:500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ratingBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0 10px;
}

.ratingBar .star{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    background-color: green;

}

.ratingBar .rating, .ratingBar .time{
    font-size: 13px;
}

.filters{
    margin-top: 1rem;
    overflow-y: scroll;
}
.filters ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.filters ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    border: 1px solid rgb(216, 216, 216);
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
}

.filters ul li:hover{
    background-color: rgb(173, 173, 173);
}

.filters ul li span{
    width:max-content;
    display: block;
}